.name {
    margin: 5px;
    color: aliceblue;
}

.cart-input {
    margin-left: 10px;
}

.cart-input label {
    color: aliceblue;
    margin: 5px;
}

.subtotal {
    li {
        float: left;
        width: 100%;
        font-size: 14px;
    }
}

.subttolLef {
    width: auto;
    font-size: inherit;
}

li.dividerTotal {
    border-top: 1px solid #eae7e7;
    margin: 10px 0 0 0;
    padding: 7px 0 0 0;
}

.cartaddtionalinfo {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    textarea {
        border: none;
        background: #f9f9f9;
        font-size: 12px;
        height: 50px;
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 16px 15px;
        &::placeholder {
            color: #686b78;
        }
    }
}

.cartaddtionalinfo button {
    float: right;
    height: 40px;
}

label.actualitemprice {
    text-decoration: line-through;
    color: aliceblue;
    font-weight: normal;
}

.pos-cartTitle {
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.pos-themecolor {
    color: aliceblue;
}

$pos-color:aliceblue;
.cart-input {
    color: #fff;
    float: right;
    padding: 20px 20px 10px 20px;
}

select.selectable {
    width: 100%;
    height: 33px;
    border-radius: 0;
    background: none;
    border: none;
    padding: 0;
    border-bottom: 1px solid #e6e5e57d;
}

ul.cartites {
    margin: 20px 0 10px 0;
    max-height: 223px;
}

ul.cartites .dishright p {
    font-size: 15px;
}

.price>span {
    font-size: 15px;
    width: 70px;
    text-align: right;
}

.counter {
    font-size: 15px;
}

ul.cartites .dishright {
    width: 250px;
}