<ng-container class="pos-theme">
    <!-- <div class="name">Attender Name</div> -->
    <div class="cart-input">
        <select class="selectable" name="tables">
          <option *ngFor="let table of tables" [value]="table.value">{{table.name}}</option>
        </select>
        <ng-container *ngIf="listitems.length > 0; else emptycart">
            <ul class="cartites">
                <li *ngFor="let item of listitems">
                    <ng-container>
                        <div class="dishright">
                            <p>{{item.name}} </p>
                            <!-- <span>{{item.category.name}}</span> -->
                        </div>
                        <div class="price">
                            <span *ngIf="item.updatedprice; else actualprice">Rs {{item.updatedprice * item.count}}</span>
                            <ng-template #actualprice><span>Rs {{item.price * item.count}}</span></ng-template>

                            <app-productcounter [(counter)]="item.count" [item]="item"></app-productcounter>

                        </div>
                    </ng-container>
                </li>
            </ul>

            <ul class="subtotal">
                <li>
                    <div class="subttolLef"> Item Price</div>
                    <span *ngIf="itemprice" class="price"> <label class="actualitemprice" *ngIf="actualitemprice">₹
              {{actualitemprice}}</label> ₹ {{itemprice}}</span>
                    <label class="cartinfotext">Extra charges may apply</label>

                </li>
                <li class="additionalprice" *ngFor="let fare of additionalfare">
                    <span class="subttolLef"> {{fare.fareName}} </span>
                    <span class="price">₹ {{fare.rate}} </span>
                </li>
                <li class="dividerTotal">
                    <div class="subttolLef"> Total</div>
                    <span *ngIf="totalprice" class="price"> ₹ {{totalprice}}</span>
                </li>


            </ul>

        </ng-container>
    </div>
    <ng-template #emptycart>
        <div class="emptycartcontainer">
            <h2 class="cartTitle">Cart is Empty</h2>
            <img class="img-responsive" src="./assets/images/cartempty.webp">
            <p class="emptycarttext">Good food is always cooking! Go ahead, order some yummy items from the menu.</p>
        </div>
    </ng-template>
</ng-container>