 <!-- lr footer section Start -->
 <div class="lr_footer_main_wrapper jarallax">
  <div class="lr_banner_bottom_shap_img_wrapper">
      <img src="assets/images/inner_shap2.png" alt="shape">
  </div>
  <div class="lr_footer_img_overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="lr_footer_cont_first">
                  <div class="lr_footer_first_heading">
                      <h2>About Us <span></span></h2>
                  </div>
                  <div class="lr_footer_first_heading_cont">
                      <p>Lorem ipsum dolor sit amet, consectetur adigio eiusmod tempor incididunt ut labore et doloire magna Ut enim ad minim veniam.</p>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </div>
                  <div class="lr_footer_first_btn">
                      <a href="#" class="lr-btn lr-footer-btn move-eff"><span>READ MORE</span></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="lr_footer_cont_first lr_footer_cont_second">
                  <div class="lr_footer_second_heading">
                      <h2>Opening Hours <span></span></h2>
                  </div>
                  <div class="lr_footer_second_heading_cont">
                      <ul>
                          <li>Mon-Fri ....................... 10Am-8Pm</li>
                          <li>Saturday....................... 10Am-9Pm</li>
                          <li>Wednesday...................... 10Am-3Pm</li>
                      </ul>
                  </div>
                  <div class="lr_footer_second_heading_cont_bottom">
                      <h2>Coffee Bar Opening Hours</h2>
                      <ul>
                          <li>Mon-Fri ....................... 10Am-8Pm</li>
                          <li>Saturday....................... 10Am-9Pm</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="lr_footer_cont_first lr_footer_cont_second">
                  <div class="lr_footer_third_heading">
                      <h2>Contact Us <span></span></h2>
                  </div>
                  <div class="lr_footer_third_heading_cont">
                      <div class="lr_foot_add_wrapper">
                          <div class="lr_foot_icon_wrapper">
                              <i class="fa fa-location-arrow"></i>
                          </div>
                          <div class="lr_foot_icon_cont_wrapper">
                              <p>British Columbia, Canada <br> 512B omexcity, India</p>
                          </div>
                      </div>
                      <div class="lr_foot_add_wrapper lr_foot_contact_wrapper">
                          <div class="lr_foot_icon_wrapper">
                              <i class="fa fa-phone"></i>
                          </div>
                          <div class="lr_foot_icon_cont_wrapper lr_foot_icon_contact_cont_wrapper">
                              <p>+6100-142-758<br> +1800-658-654
                              </p>
                          </div>
                      </div>
                      <div class="lr_foot_add_wrapper lr_foot_contact_wrapper">
                          <div class="lr_foot_icon_wrapper">
                              <i class="fa fa-envelope-open"></i>
                          </div>
                          <div class=" lr_foot_icon_cont_wrapper lr_foot_icon_email_cont_wrapper">
                              <p><a href="#">omeniacoffe@example.com</a><br>
                                  <a href="#">coffeeorers@example.com</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                  <div class="lr_footer_news_letter_wrapper">
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                          <div class="lr_nl_heading_wrapper">
                              <h2>Subscribe to Our Newsletter</h2>
                              <p>Receive 15% Discount From Your First Order.</p>
                          </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                          <div class="lr_nl_form_wrapper">
                              <input type="text" placeholder="Enter Your Email">
                              <button type="submit">Subscribe</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="lr_bottom_footer_main_wrapper">
  <a href="javascript:" id="return-to-top"><i class="fa fa-long-arrow-up"></i><br><span>TOP</span></a>
  <p>Copyright 2018 <a href="#">Street</a> - Design By ~ <a href="#">Webstrot</a></p>
</div>
<!-- lr footer section End -->
