<div class="posmen">
    <i class="mdi mdi-menu"></i>
</div>
<ul class="pos__menu">
    <li>
        <a><i class="mdi mdi-food"></i></a>
    </li>

    <li>
        <a><i class="mdi mdi-motorbike"></i></a>
    </li>




    <li>
        <a><i class="mdi mdi-chart-bar"></i></a>
    </li>
</ul>