.posmen {
    color: #fff;
    font-size: 30px;
    padding: 2px 0;
    text-align: center;
}

ul.pos__menu {
    float: left;
    width: 100%;
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 20px;
    color: #ffffffad;
    li {
        float: left;
        width: 100%;
        a {
            float: left;
            width: 100%;
            padding: 14px 0;
        }
    }
}