ul.categoryList {
    float: left;
    width: 100%;
    text-align: right;
    font-size: 15px;
    margin-top: 0px;
    line-height: 33px;
    font-weight: bold;
}

ul.subcat {
    font-weight: normal;
    margin-top: 0px;
    line-height: 19px;
    font-size: 14px;
}

.listPage {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.col-md-2.sidecategory {
    position: fixed;
    padding: 0;
    max-width: calc(100% - 81%);
    left: 0;
    top: 262px;
}

.subcataname {
    cursor: pointer;
}