<div class="filtersection">
    <div class="container">
        <figure class="resimage">
            <img src="{{imagePath}}1547626526756.jpg">
        </figure>
        <div class="shopinfo">
            <h2 class="shopname">The Sandwich Shop</h2>
            <span class="shopsubtext">Free Delivery on orders above ₹99, 20% off on orders above ₹99</span>

            <div class="seachholde">
                <input class="dishInput" placeholder="Search for dishes..." type="text" (input)="onSearchChange($event.target.value)">
                <button class="vegsot" type="button"><i class="fa fa-leaf"></i>Pure Veg</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- lr element section Start -->

    <!-- lr element section End -->
    <div class="col-md-2 sidecategory">
        <ul class="categoryList">
            <li *ngFor="let category of datasource">
                <span>{{category.name}}</span>
                <ul class="categoryList subcat">
                    <li *ngFor="let subcategory of category.subcats">
                        <span class="subcataname" (click)="scrollToElement(subcategory.name)">{{subcategory.name}}</span>


                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-2">
        <div class="listMain">
            <div class="listPage" *ngFor="let cat of productList">
                <h2 class="mainCategoryheading">{{cat.name}}</h2>
                <ng-container *ngIf="cat.subcategories">
                    <div class="subcategoryLoop" *ngFor="let subcat of cat.subcategories">
                        <h2 [id]="subcat.name | removewhitespaces" class="SubCategoryheading">{{subcat.name}}</h2>
                        <ul class="cat-list" *ngIf="subcat.products">
                            <ng-container *ngFor="let dish of subcat.products trackBy: trackByFn">
                                <app-singleproduct [count]="dish.count" [dish]="dish"></app-singleproduct>
                            </ng-container>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fixedCart">
            <app-cart></app-cart>
            <button *ngIf='!cartEmpty' routerLink="/checkout" class="btn btn-checkout">Checkout</button>
        </div>
    </div>
</div>