.cartcontent {
    float: right;
    width: 35%;
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    background: #2d3347;
}

.ordercontent {
    float: left;
    min-height: 100%;
    height: 100%;
    margin: 50px 0 0 50px;
    padding: 10px;
    width: calc(65% - 50px);
    background: #f4f6fa;
    position: fixed;
}

.mainmenulist {
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    margin: 0 24px;
    flex-wrap: wrap;
    li {
        display: inline-block;
        cursor: pointer;
        padding: 5px 18px;
        border: 1px solid #ecedf6;
        margin: 0 5px 7px 5px;
        flex: 1;
        min-width: 104px;
        background: #fff;
    }
}

.cardholder {
    float: left;
    width: 100%;
    text-align: center;
}

.cards {
    padding: 0;
    display: inline-block;
    width: 180px;
    margin: 12px;
    float: left;
}

.card-body {
    flex: 1 1 auto;
    padding: 10px 0;
    font-size: 15px;
    height: 50px;
    vertical-align: middle;
}

.buttonholder {
    float: left;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 0 20px;
}

.buttonholder button {
    border-radius: 20px;
    text-transform: capitalize;
    float: none;
    margin: 0 0px;
    padding: 9px 30px;
    display: inline-block;
    width: auto;
}