<div class="ordercontent">
    <div class="row">
        <ul class="mainmenulist">
            <li (click)="menuClick()">All</li>
            <li *ngFor="let category of categories" (click)="menuClick(category._id)">{{category.name}}</li>
        </ul>
    </div>
    <div class="cardholder">
        <div class="card cards" (click)="addCheckoutProduct(product)" *ngFor="let product of products">
            <img class="card-img-top" src="download.jpg" [alt]="product.description">
            <div class="card-body">
                <p class="card-text">{{product.name}}</p>
            </div>
        </div>
    </div>
</div>
<div class="cartcontent">
    <app-pos-cart></app-pos-cart>

    <div class="buttonholder">
        <button *ngIf='!cartEmpty' class="btn btn-checkout pull-left">Cancel</button>
        <button *ngIf='!cartEmpty' class="btn btn-checkout">Place Order</button>
        <button *ngIf='!cartEmpty' class="btn btn-checkout pull-right">Checkout</button>
    </div>

</div>

<div *ngIf='customizableModal' class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <form #attributeForm="ngForm">
                            <div *ngFor="let data of dish.variations">
                                <h5 class="attributeName">{{data.attribute}}</h5>
                                <ul>
                                    <li *ngFor="let commonAme of data.option" class="col-md-6  col-xs-12">
                                        <ng-container *ngIf="data.choicetype == 'checkbox'">
                                            <p-checkbox *ngIf="commonAme.customizable" name="{{data.attribute}}" required value="{{commonAme.price}}#{{commonAme.key}}" label="{{commonAme.label}}({{commonAme.price}})" [(ngModel)]="products[data.attribute]"></p-checkbox>
                                        </ng-container>
                                        <ng-container *ngIf="data.choicetype == 'radio'">
                                            <p-radioButton *ngIf="commonAme.customizable" name="{{data.attribute}}" required value="{{commonAme.price}}#{{commonAme.key}}" label="{{commonAme.label}}({{commonAme.price}})" [(ngModel)]="products[data.attribute]"></p-radioButton>
                                        </ng-container>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" (click)="addcustomize(attributeForm)" class="addtocart">Add to Cart</button>

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>