app-posheader {
    float: left;
    width: 100%;
    background: #fafcfe;
    border-bottom: 1px solid #e6e5e5cc;
    padding: 10px;
    height: 50px;
    position: fixed;
    top: 0;
}

app-possidebar {
    position: fixed;
    width: 50px;
    top: 0;
    bottom: 0;
    background: #2d3347;
}