<p-panel>
    <p-header>
        {{pagetype}} dish
    </p-header>
    <div class="row">
        <form class="col-md-7" (ngSubmit)="onSubmitdish(adddishForm);" #adddishForm="ngForm">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Dish Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="dish.productCode" #productCode="ngModel" name="productCode" id="productCode" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Dish Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="dish.name" #name="ngModel" name="name" id="name" required>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-9">
                    <p-fileUpload name="carimage[]" (onUpload)="onMapIconImageUpload($event , 'image')" mode="basic" auto="auto" [url]="uploadcar"></p-fileUpload>
                    <input type="text" class="form-control" hidden [(ngModel)]="dish.image" #image="ngModel" name="image" id="image" required>
                    <div *ngIf="dish.image" class="buttonholder">
                        <button type="button" (click)="viewImage(dish.image)" class="btn">View</button>
                        <button type="button" (click)="removeImage(dish.image , 'image' )" class="btn">Remove</button>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" [(ngModel)]="dish.description" #description="ngModel" name="description" id="description" required></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" [(ngModel)]="dish.stock" #stock="ngModel" name="stock" id="stock" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" [(ngModel)]="dish.price" #price="ngModel" name="price" id="price" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                    <p-dropdown [options]="categoryList" [(ngModel)]="dish.category" #category="ngModel" name="category" id="category" required [filter]="true" filterBy="label,value.name"></p-dropdown>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sub Category</label>
                <div class="col-sm-9">
                    <p-dropdown [options]="subcategoryList" [(ngModel)]="dish.subcategory" #subcategory="ngModel" name="subcategory" id="subcategory" required [filter]="true" filterBy="label,value.name"></p-dropdown>

                </div>
            </div>
            <div class="form-group row">
                <button (click)="customizableModal = true" class="btn btn-primary">Add Attribute</button>
            </div>
        </form>






        <div class="col-md-4">
            <br>
            <table *ngIf="attributeArray.length > 0" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Att Label</th>
                        <th>Options</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let att of attributeArray; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{att.attribute}}</td>
                        <td>
                            <ul class="opList">
                                <li *ngFor="let option of att.option;">
                                    {{option.label}} - {{option.price}}
                                </li>
                            </ul>
                        </td>
                        <td> <a (click)="removeAttribute(i)">X</a></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="col-md-3 offset-md-1 ">
            <div *ngIf="previewImage" class="imagePreview">
                <h4>Preview</h4>

                <img [src]="previewImage">
            </div>
        </div>


    </div>

    <p-footer>
        <div class="form-group row">
            <div class="col-sm-9">
                <div class="btnholder">
                    <button type="button" (click)="onSubmitdish(adddishForm);" [disabled]="!adddishForm.form.valid" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-round">Reset</button>
                </div>
            </div>
        </div>

    </p-footer>
</p-panel>

<div *ngIf='customizableModal' class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <form (ngSubmit)="addAttribute(attributeForm);" #attributeForm="ngForm">

                            <div class="attributeContainer">
                                <h5 class="attributeName">Attribute Name</h5>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Choice Type</label>
                                    <div class="col-sm-9">
                                        <p-dropdown [options]="choiceType" [(ngModel)]="attribute.choicetype" name="choicetype" #choicetype="ngModel" required [filter]="true" filterBy="label,value.name"></p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Attribute</label>
                                    <div class="col-sm-9">
                                        <p-dropdown (onChange)="selectattr($event)" [options]="attributeslist" [(ngModel)]="attribute.attribute" name="attribute" #attribute="ngModel" required [filter]="true" filterBy="label,value.name"></p-dropdown>
                                    </div>
                                </div>

                                <table *ngIf="selectedmainattribute" class="table">
                                    <thead>
                                        <tr>
                                            <th>Options</th>
                                            <th>Price</th>
                                            <th>Available</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ngModelGroup="selectoption" #selectoption="ngModelGroup" *ngFor="let att of selectedmainattribute; let i=index">
                                            <td>{{att.label}}</td>
                                            <td> <input type="number" placeholder="price" [(ngModel)]="att.price" name="price-{{i}}" #price="ngModel" class="form-control" id="price-{{i}}" class="form-control"></td>
                                            <td>
                                                <p-inputSwitch [(ngModel)]="att.customizable" #customizable="ngModel" name="customizable-{{i}}" id="customizable-{{i}}" required></p-inputSwitch>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary" [disabled]="!attributeForm.form.valid" (click)="addAttribute(attributeForm)">Add New Attribute</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>