<!-- header and navigation Start -->
<div class="lr_header_navigation_main_wrapper">

    <div class="lr_navigation_header_fixed">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="lr_logo_mian_wrapper">
                        <a routerLink="/" *ngIf="logo"><img class="logo" [src]="logo" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="lr_main_navigation_wrapper">
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a routerLink="/">Home</a> </li>
                                    <li><a routerLink="/list">Menu</a></li>
                                    <li *ngIf="!isLogged"><a (click)="signin()">Login</a></li>
                                    <li *ngIf="isLogged"><a (click)="signout()">Logout</a></li>
                                    <li *ngIf="isLogged"><a routerLink="/account">Account</a></li>

                                    <li class="dropdown caret_btn"><a (click)="checkoutpage(itemCount)"><i class="flaticon-shopping-cart"></i><span>{{itemCount}}</span></a>
                                        <ul>
                                            <li>
                                                <div class="cc_cart_wrapper1 menu-button">
                                                    <div class="cc_cart_img_wrapper">
                                                        <!-- <img src="./assets/images/cart_img.jpg" alt="cart_img" /> -->
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- header and navigation End -->