<app-header [logo]="logo" *ngIf="!isLogged"></app-header>
<app-header [logo]="logo" *ngIf="isLogged"></app-header>

<router-outlet></router-outlet>
<app-footer></app-footer>


<app-locationbar *ngIf="locationDisplay" [editData]="locationData"></app-locationbar>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>