<div class="container">

    <div class="col-md-8">
        <div class="checkoutcontainer">
            <ng-container *ngIf="!isLogged else loggeduser">
                <h2 class="check-maintitle">Account</h2>
            </ng-container>
            <ng-template #loggeduser>
                <h2 class="check-maintitle">Logged In
                    <i class="fa fa-check"></i>
                </h2>
                {{defaultAddress|json}}
                <p class="logeduser">{{user.username}} | {{user.email}}</p>
            </ng-template>
        </div>

        <div class="checkoutcontainer">

            <ng-container *ngIf="isLogged">
                <ng-container *ngIf="deliveryaddress">
                    <h2 class="check-maintitle">Delivery address
                        <i class="fa fa-check"></i>
                    </h2>
                    <span class="changebtn" (click)="clearaddress()">CHANGE</span>

                    <p class="deliverys">{{deliveryaddress.doorno}},{{deliveryaddress.fulladdress}}
                        <br />Landmark: {{deliveryaddress.landmark}}</p>
                </ng-container>

                <ng-container *ngIf="!deliveryaddress">
                    <h2 class="check-maintitle">Choose Delivery Address</h2>
                    <span class="check-subtitle">Multiple addresses in this location</span>
                    <ul class="savedlocation">
                        <li *ngFor="let list of addressList">
                            <h5>{{list.addresstitle}}</h5>
                            <p> {{list.fulladdress}}
                                <br />Landmark: {{list.landmark}}</p>
                            <button (click)="setDeliveryaddress(list)" class="themebtn">DELIVER HERE</button>
                        </li>

                        <li>
                            <h5>Add New Address</h5>
                            <p>
                                <br /><br /><br /></p>
                            <button (click)="displyaLocationBar()" class="themebtn">ADD NEW LOCATION AND SAVE</button>
                        </li>
                    </ul>
                    <app-loader *ngIf="!addressList"></app-loader>

                </ng-container>
            </ng-container>

            <h2 *ngIf="!isLogged" class="check-maintitlelight">Delivery address</h2>
        </div>


        <div class="checkoutcontainer">
            <ng-container *ngIf="deliveryaddress && isLogged">
                <h2 class="check-maintitle">Choose payment method</h2>
                <div class="verticaltab">
                    <p-tabView>
                        <p-tabPanel leftIcon="fa fa-credit-card" header="Credit/Debit Card">
                            <ng-container>
                                Stripe Payment
                                <app-stripe (resToken)="tokenFromStripe($event)"></app-stripe>
                            </ng-container>
                        </p-tabPanel>
                        <!-- <p-tabPanel leftIcon="fa fa-paypal" header="paypal">
              Content 2
            </p-tabPanel> -->
                        <p-tabPanel leftIcon="fa fa-money" header="Cash on Delivery">
                            <div class="cod">
                                <i class="fa fa-handshake-o"></i>
                                <h6>Cash</h6>
                                <p>Please keep exact change handy to help us serve you better</p>
                                <button (click)="onCOD();" class="btn themebtn">Pay on Delivery</button>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </ng-container>
            <h2 *ngIf="!isLogged || !deliveryaddress" class="check-maintitlelight">Payment Method</h2>

        </div>
    </div>
    <div class="col-md-4">
        <div class="fixedCart">
            <app-cart (notes)="notes($event)"></app-cart>
        </div>

    </div>