.subtotal {
    li {
        float: left;
        width: 100%;
        font-size: 14px;
    }
}

.subttolLef {
    width: auto;
    font-size: inherit;
}

li.dividerTotal {
    border-top: 1px solid #eae7e7;
    margin: 10px 0 0 0;
    padding: 7px 0 0 0;
}

.cartaddtionalinfo {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    textarea {
        border: none;
        background: #f9f9f9;
        font-size: 12px;
        height: 50px;
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 16px 15px;
        &::placeholder {
            color: #686b78;
        }
    }
}

.Coupon {
    border: 1px dashed #a9abb2;
    color: #535665;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
    margin: 10px 0 15px;
    font-weight: 500;
    height: 55px;
    i {
        font-size: 18px;
        margin-right: 15px;
    }
}

input.couponcode {
    height: 40px;
    width: 160px;
    padding: 0 10px;
    font-size: 14px;
}

.cartaddtionalinfo button {
    float: right;
    height: 40px;
}

label.actualitemprice {
    text-decoration: line-through;
    color: #888;
    font-weight: normal;
}

.couponmessage {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: #fc791a;
}