<div class="cartsection">

    <ng-container *ngIf="listitems.length > 0; else emptycart">
        <h2 class="cartTitle">Cart</h2>
        <ul class="cartites">
            <li *ngFor="let item of listitems">
                <ng-container>
                    <div class="dishright">
                        <p>{{item.name}} </p>
                        <span>{{item.category.name}}</span>
                    </div>
                    <div class="price">
                        <span *ngIf="item.updatedprice; else actualprice">Rs {{item.updatedprice * item.count}}</span>
                        <ng-template #actualprice><span>Rs {{item.price * item.count}}</span></ng-template>

                        <!-- <app-counter [(counter)]="item.count" (counterChange)="counter($event , item._id)"></app-counter> -->

                        <app-productcounter [(counter)]="item.count" [item]="item"></app-productcounter>

                    </div>
                </ng-container>
            </li>
        </ul>

        <div class="cartaddtionalinfo">
            <textarea (focusout)="notestrigger($event)" [(ngModel)]="suggestionnotes" placeholder="Any suggestions? We will pass it on..."></textarea>
            <div role="button" *ngIf="!coupondisplay" (click)="coupondisplay = true" aria-label="Apply Coupon" class="Coupon">
                <i class="mdi   mdi-gift"></i> Apply Coupon

            </div>
            <ng-container *ngIf="coupondisplay">
                <input type="text" [disabled]="disablecoupon" [(ngModel)]="couponcode" class="couponcode" />
                <button *ngIf="!disablecoupon" [disabled]="!couponcode" (click)="verfiycoupon(couponcode)" class="btn btn-primary">Apply</button>
                <button *ngIf="disablecoupon" (click)="disablecoupon = false" class="btn btn-primary">Change</button>

            </ng-container>
            <p class="couponmessage" *ngIf="couponmessage">{{couponmessage}}</p>
        </div>

        <!-- <div class="subtotal">
      <div class="subttolLef">
        Subtotal
        <span>Extra charges may apply</span>
      </div>
      <span *ngIf="itemprice" class="price"> Rs {{itemprice}}</span>
    </div> -->

        <ul class="subtotal">
            <li>
                <div class="subttolLef"> Item Price</div>
                <span *ngIf="itemprice" class="price">  <label class="actualitemprice" *ngIf="actualitemprice">₹  {{actualitemprice}}</label> ₹ {{itemprice}}</span>
                <label class="cartinfotext">Extra charges may apply</label>

            </li>
            <li class="additionalprice" *ngFor="let fare of additionalfare">
                <span class="subttolLef"> {{fare.fareName}} </span>
                <span class="price">₹ {{fare.rate}} </span>
            </li>
            <li class="dividerTotal">
                <div class="subttolLef"> Total</div>
                <span *ngIf="totalprice" class="price"> ₹ {{totalprice}}</span>
            </li>


        </ul>

    </ng-container>
    <ng-template #emptycart>
        <div class="emptycartcontainer">
            <h2 class="cartTitle">Cart is Empty</h2>
            <img class="img-responsive" src="./assets/images/cartempty.webp">
            <p class="emptycarttext">Good food is always cooking! Go ahead, order some yummy items from the menu.</p>
        </div>
    </ng-template>
</div>