.headercontetnt {
    float: left;
    width: 100%;
    padding: 0 0 0 52px;
}

ul.rightmen {
    float: right;
}

.logouttxt {
    color: #f7395b;
    i {
        font-size: 23px;
        line-height: 24px;
        float: right;
        margin: 0 0 0 10px;
    }
}

.pos__maincontent {
    position: fixed;
    background: #f4f6fa;
    top: 50px;
    width: 100%;
    bottom: 0px;
    left: 50px;
    overflow: auto;
}